
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: #c9ddff;
  margin: auto;
}

h1 {
  text-align: center;
  color: #535050;
}

.loader {
  position: absolute;
  top: 40px;
  bottom: 118px; 
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  font-size: 2rem;
 
}
.loader>p{
  background-color: transparent;
}

.content {
  height: 78%;
  /* border: 2px solid red; */
  overflow-y: auto;
  width: 100%;
}

.data-list {
  padding: 0;
  list-style-type: none;
}

.data-list li {
  background-color: #FFFFFF;
  margin: 5px 10px;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.75; 
}

.form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ccc;
}

.input-form {
  display: flex;
  flex-direction: column;
  /* border: 3px solid teal; */
  padding: 10px;
}

textarea {
  resize: none;
  width: 50%;
  margin: auto;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FFFFFF;
}

textarea::placeholder {
  font-size: 16px;
  position: relative; /* Adjust the placeholder font size here */
  top: 3px;
}

button {
  width: 300px;
  margin: auto;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media (min-width: 769px) {
  .container {
    width: 75%;
  }

  textarea {
    width:50%;
   
  }
  .form-container{
    width: 75%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  button {
    width: 100%;
    font-size: small;
  }
}
